*{
    font-family:Georgia, 'Times New Roman', Times, serif;
}
body {
    box-sizing: border-box;
    background: #1f1f27;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

main {
    box-sizing: border-box;
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
